<%= form_with(model: feed, local: true, url: confirm_feeds_path) do |form| %>
  <% if feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feed.errors.count, "error") %></h2>

      <ul>
      <% feed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong>タイトル</strong>
    <%= form.text_field :title %>
    <%= form.label :image %>
    <%= form.file_field :image %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
