<p id="notice"><%= notice %></p>

<h1>投稿一覧</h1>

<table>
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th>タイトル</th>
    </tr>
  </thead>

  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td><%= feed.user.name %></td>
        <td><%= feed.title %></td>
        <td><%= image_tag "#{feed.image}", :size =>'80x80' %></td>
        <td><%= link_to '詳細', feed %></td>
        <td><%= link_to '編集', edit_feed_path(feed) %></td>
        <td><%= link_to '削除', feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しい投稿', new_feed_path %>
