<p id="notice"><%= notice %></p>

<div class="show-content">

<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>メールアドレス:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>
</div>

<div class="link-block">
<%= link_to '編集', edit_user_path(@user) %> |
<%= link_to '戻る', users_path %>
</div>
