<p id="notice"><%= notice %></p>

<div class="show-content">

<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>メールアドレス:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>
</div>

<tr>
  <th>フォローしている人</th>
  <% @user.following.each do |user| %>
  <td><%= user.name %></td>
  <% end %>
  <th>フォローされている人</th>
  <% @user.followers.each do |user| %>
  <td><%= user.name %></td>
  <% end %>
</tr>

<div class="link-block">
<%= link_to '編集', edit_user_path(@user) %> |
<%= link_to 'ホーム', feeds_path %>
</div>
