<!DOCTYPE html>
<html>
  <head>
    <title>FacebookClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>

  <div class="wrapper">

  <header>
    <div>
      <i class="fas fa-book-open fa-3x header-icon"></i>
      <h1><%= link_to 'Fakebook', feeds_path, :style=>"color:white;" %></h1>
    </div>
<div class="header-btn">

    <div class="header-btn">
      <button type="button" class="btn btn-light btn-md">
        <%= link_to 'ユーザー一覧', users_path if logged_in? %>
      </button>
      <% if logged_in? %>
      <button type="button" class="btn btn-light btn-md">
        <%= link_to "プロフィール", user_path(current_user.id) %>
      </button>
      <button type="button" class="btn btn-light btn-md">
        <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
        <% else %>
      <button type="button" class="btn btn-light btn-md">
        <%= link_to "新規登録", new_user_path %>
      </button>
      <button type="button" class="btn btn-light btn-md">
        <%= link_to "ログイン", new_session_path %>
      </button>
      <% end %>
    </div>

  </header>

    <div class="container">

    <%= yield %>

    </div>

    <footer>
      <p>© 2019 TANIZAWA CORPORATION.(Test Application)</p>
    </footer>

  </div>

  </body>
</html>
